@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Delius&family=Inter:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    z-index: 1;
}
.nav_items{
    background-color: #6F6AF7;
    display: flex;
    justify-content: space-around;    
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 10rem;;
}
.search{
    position: absolute;
    margin: 2.1rem 0 0 37rem;
    height: 1.2rem;
    width: 1.2rem;

}

li{
    list-style: none;
}
.dappr{
    font-family: Delius;
    font-size: 2.3rem;
    font-weight: bold;
    color: #FFF;
    margin: 1rem;
}
.li_items{
color: #FFF;
font-family: DM Inter;
font-size: 1.3rem;
margin: 2rem;
}
.li_search {
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 3rem;
    border: 0px solid white;
    margin: 1.5rem;
    width: 10rem;
}
.li_search:focus{
    outline: none;
}
.li_hamburger{
    height:2.2rem;
    width: 2.2rem;
    margin: 1.5rem;
}
.hero{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    margin-left: rem;
}
.hero1_img{
    height: 30rem;
    width: 20rem;
    padding-left: 7rem;
}
.hero2_text{
    padding: 2rem;
    border-radius: 2rem;
    border: 0rem solid white;
    background-color: #E5D8FF;
    font-family: DM;
    color:#6F7373;
    font-size: 1.5rem;
    height: 26rem;
}
textarea:focus{
    outline: none;
    background-color: #d5c1fa;
}
.cards{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    
    height: 5rem;
    width: 15rem;
    color: #FFF;
    font-size: 1.5rem;
    font-family: DM;
    padding: 0.8rem;
    padding-left: 1.5rem;
    border-radius: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    box-shadow: 0px 9px 31px 0px rgba(9, 0, 0, 0.4);
}
.card1{
    background-color:#929DFF;
    margin-left: 6rem;
}
.card2{
    background-color: #734CF2;;
}
.card3{
    background-color:  #D288FF;
}
.card4{
    background-color: #000;
    margin-right: 5rem;
}
.last{
    background-color: #483EFF;
    display: flex;
    justify-content: space-around;
    margin: 4rem 1rem 1rem 8rem;
    border-radius: 1rem;
    width: 80rem;

}

.btn2,.btn3{
    padding: 2rem 3rem 2rem 3rem;
    font-family: DM;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 1rem;
    background-color: #483EFF;
    border: 3px solid white;
    border-radius: 1rem;
}
.btn1{
    padding: 2rem 3rem 2rem 3rem;
    font-family: DM;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 1rem;
    border: 3px solid white;
    border-radius: 1rem;
    background-color: #BCE0F6;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
    color: #000;
}
.last_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.last_right{
    height: 25rem;
    width: 55rem;
    background-color: white;
    margin: 1.5rem;
    border-radius: 2rem;
    position: relative;
}
h1{
    margin: 2rem;
    color: #04285A;
    font-family: Inter;
    letter-spacing: 0.4rem;
    font-weight: bold;
}
.title{
    color: #04285A; 
    font-family: Roboto;
    margin: 1.5rem;
    margin-left: 4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.info {
    color: #143565;
    font-family: Roboto;
}
.btn3{
    padding: 1rem 2rem 1rem 2rem;
    font-family: Roboto;
    font-size: 1rem;
    color: #FFF;
    margin: 1rem;
    background-color: #000;
    border: 3px solid white;
    border-radius: 1rem;
    margin: 4rem 2rem 1rem 38rem;
}
button img {
    
    height: 1rem;
    width: 1rem;
    
}
.help{
  position: fixed;
  bottom: 0;
  right: 8%;  
}
.help img{
    height: 8rem;
    width: 8rem;
}

.sticky_icon{
    float: right;
    position: sticky;
    top: 11.5%;
    margin-top: 5rem;
    
}
.wp{
    
    border: 3.7px solid black;
    padding: 0.1rem;
    border-radius: 1rem;
    width: 5rem;
    margin: 0.2rem 0.6rem 0.2rem 0;
    
}
